* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-weight: 350;
    margin: 50px auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
    height: 85%;
}


/**-MENU-------------------------------------------*/

#room {
    display: flex;
    padding: 20px;
}

#room p.welcome-message {
    flex: 1;
}

.menu-button {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

.menu-button:hover {
    color: #7777ac;
    text-decoration: underline;
}

#room #exit {
    color: white;
    background-color: rgb(206, 103, 103);
    padding: 4px 6px;
    border: 2px solid #808080;
    border-radius: 4px;
}

#room #room-selection-button {
    color: white;
    background-color: rgb(103, 206, 189);
    padding: 4px 6px;
    border: 2px solid #808080;
    border-radius: 4px;
    margin-right: 10px;
}


.welcome-message {
    color: white;
    font-size: x-large;
}

#wrapper {
    margin: 0 auto;
    background-color: #b1b1b9;
    border: 2px solid #808080;
    border-radius: 4px;
}

/**-Chat Room Area-------------------------------------------*/

#chat-room {
    padding-left: 25px;   
}

#chat-room textarea {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    height: 80%;
    width: 80%;
    resize: none;

    border: 2px solid #808080;
    border-radius: 4px;
}

#chat-log {
    flex: 1;
    border-bottom: 4px solid #a7a7a7;
    border-radius: 4px;
    padding: 5px;
}

#chat-message-input{
    border: 2px solid #808080;
    border-radius: 4px;
    width: 80%;
    padding: 5px;
}

#chat-message-submit{
    border: 2px solid #808080;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 10%;
}

#chat-message-submit:hover, #room-name-submit:hover, #signup-button:hover, #login-button:hover  {
    color: #7777ac;
    text-decoration: underline;
}

#message {
    display: flex;
    padding-left: 25px;
    padding-bottom: 15px;
}

/**-Choose Room-------------------------------------------*/

.instruction-message {
    color: black;
    padding: 5px;
    padding-left: 0;
    padding-right: 10px;
}
#room-name-input {
    border: 2px solid #808080;
    border-radius: 4px;
    width: 20%;
    padding: 5px;
    margin-right: 10px;
}
#room-name-submit {
    border: 2px solid #808080;
    border-radius: 4px;
    width: 10%;
}
#room-message {
    display: flex;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    background-color: #c9c9cf;
}

/**-Main Menu-------------------------------------------*/
#info-section {
    width: 70%;
    margin-left: 10px;
    border-left: 2px solid #808080;
    background-color: #FFFFFF;
}
#main-menu {
    display: flex;
    border-top: 2px solid #808080;
    background-color: #c9c9cf;
}
#info-section .subtitle{
    font-size: larger;
    margin: 10px;
}
#info-section .info {
    font-size: small;
    margin:10px;
}

/**-Login/SignUp Bar-------------------------------------------*/
#nav-bar {
    height: 100%;
    width: 30%;
    padding: 5px;
    font-size: small;
}
#nav-bar p{
    padding-top: 5px;
}
.nav-title {
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}
#login-title {
    border-top: 2px solid #808080;
}
#nav-bar .information {
    width: 80%;
    padding: 10px;
    margin-top: 5x;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid #808080;
}

#signup-button, #login-button {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #808080;
    width: 40%;
}